#about {
  padding: 5rem 2rem;
  background-color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  position: relative;
  width: 120px;
  height: 120px;
  padding: 0 3rem;
  opacity: 0;
}

.about-text {
  color: var(--white);
  opacity: 0;
}


@media only screen and (max-width: 800px) {
  .about-text p {
    font-size: 12px;
    font-weight: 100;
  }

  .picture {
    padding: 0 1rem;
  }
}