footer {
  background-color: var(--green);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: var(--white);
  font-size: 0.75rem;
  text-align: center;
  position: relative;
}

.footer-networks {
  display: flex;
  justify-content: center;
}

.footer-networks li {
  margin: 0 5px;
}

.footer-networks li svg {
  font-size: 32px;
  color: var(--white);
  transform: scale(1.0);
  transition: 0.3s ease-out;
}

.footer-networks li svg:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
}

footer p {
    margin-top: 1rem;
}