header {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.computer-img {
  height: 70%;
  opacity: 0;
  transform: scale(0);
}

header .banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrap {
  width: 100%;
  letter-spacing: 2.5px; 
  z-index: 100;
  position: fixed;
  transition: 0.5s ease-out;
}

.nav-wrap.active {
  background: var(--green);
  transition: 0.5s ease-out;
}

.nav-wrap.active .nav-link {
  color: var(--white);
}

.nav-wrap.active .nav-link:hover {
  color: var(--light-orange);
}

.nav-menu {
  min-height: 3rem;
  width: auto;
  text-align: center;
}

.nav-menu li {
  position: relative;
  list-style: none;
  height: 3rem;
  display: inline-block;
}

.nav-link {
  display: inline-block;
  font-size: 1rem;
  padding: 8px 13px;
  line-height: 32px;
  cursor: pointer;
  color: var(--green);
  transition: 0.2s;
}

.nav-link:hover {
  color: var(--light-orange);
  transition: 0.2s;
}

.menu-icon {
  display: none;
}

.icon1 {
  color: var(--light-orange);
  font-size: 3rem;
  position: absolute;
  top: 20%;
  right: 30%;
  transform: scale(0);
  opacity: 0;
}

.icon2 {
  display: flex;
  color: var(--teal);
  font-size: 3rem;
  position: absolute;
  top: 75%;
  right: 65%;
  transform: scale(0);
  opacity: 0;
}

.icon3 {
  color: var(--orange);;
  font-size: 3rem;
  position: absolute;
  top: 18%;
  right: 52%;
  transform: scale(0);
  opacity: 0;
}

@media screen and (max-width: 800px) {
  header {
    height: 50vh;
  }

  header .banner {
    height: 50vh;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--black);
    left: 0;
    opacity: 0.98;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 100;
  }

  .menu-icon.dark svg {
    color: var(--green);
    transition: 0.5s ease;
  }
  .menu-icon.light svg {
    color: var(--white);
    transition: 0.5s ease;
  }

  .nav-link {
    color: var(--white);
  }

  .icon1, .icon2, .icon3 {
    font-size: 2rem;
  }

  .icon1 {
    right: 25%;
  }
}
