header {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background: #fff url(../images/background.png) no-repeat top center;
  background-size: contain; */
  text-align: center;
  overflow: hidden;
}

.computer-img {
  height: 70%;
  opacity: 0;
  transform: scale(0.0);
}

header .banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .banner-text {
  margin: auto;
}

header .banner-text h1 {
  font-size: 90px;
  color: #fff;
  margin: 0 auto 15px auto;
}

header .banner-text h3 {
  font: 18px;
  color: #a8a8a8;
}

header .banner-networks {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

header .banner-networks li {
  margin: 0 5px;
}

header .banner-networks li svg {
  font-size: 32px;
  color: #fff;
  transform: scale(1);
  transition: 0.3s ease-out;
}

header .banner-networks li svg:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
}

.nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  letter-spacing: 2.5px;
  z-index: 100;
  position: fixed;
  transition: 0.5s ease-out;
}

.nav-wrap.active {
  background: #007F68;
  transition: 0.5s ease-out;
}

.nav-wrap.active .nav-link {
  color: #fff;
}

.nav-wrap.active .nav-link:hover{
  color: #F7931E;
}

.nav-menu {
  min-height: 48px;
  width: auto;
  text-align: center;
}

.nav-menu li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

.nav-link {
  display: inline-block;
  font-size: 16px;
  padding: 8px 13px;
  line-height: 32px;
  color: #007F68;
}

.nav-link {
  cursor: pointer;
}

.nav-link:hover {
  color: #F7931E;
  transition: 0.2s;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    height: 50vh;
  }

  header .banner {
    height: 50vh;
  }


  header .banner-text h1 {
    font-size: 60px;
  }

  header .banner-text h3 {
    font-size: 18px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 0.98;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 100;
  }

  .menu-icon.dark svg {
    color: #007F68;
    transition: 0.5s ease;
  }
  .menu-icon.light svg {
    color: #fff;
    transition: 0.5s ease;
  }

  .nav-link {
    color: #fff;
  }
}
