header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #161415 url(../images/background.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

header .banner {
  height: 100vh;
  display: flex;
}

header .banner-text {
  margin: auto;
}

header .banner-text h1 {
  font-size: 90px;
  color: #fff;
  margin: 0 auto 15px auto;
}

header .banner-text h3 {
  font: 18px;
  color: #a8a8a8;
}

header .banner-networks {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

header .banner-networks li {
  margin: 0 5px;
}

header .banner-networks li svg {
  font-size: 32px;
  color: #fff;
  transform: scale(1.0);
  transition: 0.3s ease-out;
}

header .banner-networks li svg:hover {
  transform: scale(1.2);
  transition: 0.3s ease-out;
}

.nav-wrap {
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  letter-spacing: 2.5px;
  z-index: 100;
  position: fixed;
  transition: 0.5s ease-out;
}

.nav-wrap.active {
  background: #333;
  transition: 0.5s ease-out;
}

.nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}

.nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

.nav li a {
  display: inline-block;
  font-size: 16px;
  padding: 8px 13px;
  line-height: 32px;
  color: #fff;
}
