.skills {
  background-color: #ffffff;
  padding: 4rem;
  color: #172D51;
}

.skills h1 {
  text-align: center;
  color: #172D51;
}

.skills-container {
  padding: 4rem 6rem 0 4rem;
  max-width: 1120px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "titre1 css"
    "titre1 js"
    "titre2 php"
    "titre2 php";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h3-frontend {
  grid-area: titre1;
}

.h3-backend {
  grid-area: titre2;
}

.css {
  grid-area: css;
}

.js {
  grid-area: js;
}

.backend {
  /* padding-top: 2rem; */
  grid-area: php;
}

.skills-container ul {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.skills-container li {
  display: flex;
  align-items: center;
}

.skills-container li svg {
  font-size: 40px;
  padding: 1rem;
}

@media screen and (max-width: 850px) {
  .skills {
    padding: 2rem 2rem 2rem 2rem;
  }
  .skills-container {
    padding: 4rem 1rem 0 1rem;
    max-width: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "titre1 css"
      "titre1 js"
      "titre2 php"
      "titre2 php";
  }

  .skills-container ul {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-container li svg {
    font-size: 20px;
  }
}
